html {
    background-color: #1e2833;
    color: #45a29e;
    font-family: 'Questrial', sans-serif;
}

h1 {
    font-family: 'Righteous', sans-serif;
    text-decoration: underline;
}

.contentPrimary {
    border: 1px solid #C5C6C7;
    background-color: #0b0c10;
    border-radius: 50%;
}